.floating {
  position: absolute;
  width: 100px;
  animation-name: floating;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  /* avoid click events to increase perf */
  pointer-events: none;
}

@keyframes floating {
  0% { transform: translate(0,  0px); opacity: 1; }
  50%   { opacity: 0.8; }
  100%   { transform: translate(0, -100px); opacity: 0; }
}